version: 2
jobs:
  build:
    environment:
      IMAGE_NAME: ryanhendricks/docker-cosmos
      VERSION: v5.0.5
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker:
          # https://discuss.circleci.com/t/unable-to-use-make/40552/2 --> source for fix here.
          version: 20.10.6
          docker_layer_caching: false
      - run:
          name: Build Docker image
          command: docker build -t $IMAGE_NAME:latest .
      - run:
          name: tag image
          command: docker tag $IMAGE_NAME:latest $IMAGE_NAME:$VERSION
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $IMAGE_NAME:latest && docker push $IMAGE_NAME:$VERSION
workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
